<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{% url 'home'%}" class="navbar-brand">
        GST
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="/about">
          About
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if username %}
        <li>
          <a href="{% url 'statistics' %}">
            Estadisticas
          </a>
        </li>
        <li>
          <a href="{% url 'deadlines' %}">
            Deadlines
            <span class="badge" id='number_deadlines'>{{ number_deadlines }}</span>
          </a>
        </li>
        <li>
          <a href="/me">
            <span class="glyphicon glyphicon-user"></span>
            {{ username }}
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            <span class="glyphicon glyphicon-log-out"></span>
            Logout
          </a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'register' %}">
            <span class="glyphicon glyphicon-pencil"></span>
            Register
          </a>
        </li>
        <li>
          <a href="{% url 'login' %}">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
