{% extends 'layout.html' %}

{% block head %}
{% load static %}
<link rel='stylesheet' href='{% static 'gst/style.css' %}'>
{% endblock %}

{% block content %}
<div class='about-title'>
  <h1 class='title-black'>Welcome to Goal Set Tracker.</h1>
</div>
<div class='about-text1'>
  <h3>
    The free goal tracking service, <bold> with notifications</bold>!
  </h3>
</div>
<div class='about-text2'>
  <h3>
    Hope you enjoy the service. If you do, please recommend it to friends and family.
  </h3>
</div>
{% endblock %}
