{% extends 'layout.html' %}
{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static 'gst/style.css' %}'>
<div class='box-black-left'>
  <h2>Categoría: {{ category.name }}</h2>
  <h3 style="text-align:left;">Tareas:</h3>
  <ul class='list'>
  {% for task in tasks %}
    <li>  
      <form style='display: inline;' action='{% url 'subtask' category.id task.id %}'>
        <button type='submit'value=True class='hvr-underline-from-left'/>{{ task.name }}</button>
      </form>
      
      <form style="display: inline;" method='POST' action='{% url 'task_delete' category.id task.id %}'>
        {% csrf_token %}
        <button type='submit' name='edit' value=True class="button-edit-task hvr-fade" style="vertical-align:middle" onclick="upisnik();">eliminar</button>
      </form>

      <form style="display: inline;" method='GET' action='{% url 'task_edit' category.id task.id %}'>
        {% csrf_token %}
        <button type='submit' name='edit' value=True class="button-edit-task hvr-sweep-to-right" style="vertical-align:middle" onclick="upisnik();">editar</button>
      </form>

      <form style="display: inline;" method='GET' action='{% url 'file' category.id task.id %}'>
        {% csrf_token %}
        <button type='submit' name='attached_file' value=True class='button-edit-task hvr-back-pulse'>adjunto</button>
      </form>

      {% if task.complete %}
      <form style="display: inline;" method='POST' action='{% url 'task_edit' category.id task.id %}'>
      {% csrf_token %}
        <button type='submit' name='complete' class='button-check glyphicon glyphicon-check'></button>
      </form>
      {% else %}
      <form style="display: inline;" method='POST' action='{% url 'task_edit' category.id task.id %}'>
      {% csrf_token %}
        <button type='submit' name='complete' value=True class='button-uncheck glyphicon glyphicon-unchecked'></button>
      </form>
      {% endif %}
      <p style='display:inline;'>{{ task.progress }}% </p>
         
    </li>
  {% endfor %}
  </ul>
</div>
  <div class='box-black-right'>
    <form method='POST' class="form-signin" action='{% url 'task_create' category.id %}'>
  	{% csrf_token %}
      <h2 class="form-signin-heading">Tarea nueva</h2>
  	  Nombre: <input name="name" placeholder="Ej: Comprar verduras" required type='text'/><br>
  	  Descripción: <input name="description" placeholder="Ej: Ir al super" type='text'/><br>
  	  Fecha de vencimiento: <input name="deadline" placeholder="2018-12-23 17:09:45" type='datetime-local'/>
  	  Notificarme: <input name="notify_user" type='checkbox'/><br>
        <button type="submit" class="btn btn-lg btn-default btn-block hvr-round-corners hvr-back-pulse">Agregar</button>
    </form>
  </div>

{% endblock %}
